
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
ul {
    display: flex;
}
li {
    font-weight: 900;
    font-size: 40px;
    list-style: none;
    margin: 20px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:cornflowerblue;
}
h1 {
    font-size: 70px;
    text-align: center;
    color: grey;
}
.navlist img {
    width: 70px;
}
h1 img {
    width: 70px;
}
.lorem p {
    margin-top: 200px;
    color: grey;
    margin-left: 33%;
    align-items: center;
    text-align: center;
    font-size: 30px;
    width: 600px;
}
.media {
    font-size: 20px;
    justify-content: center;
    margin-top: 150px;
    margin-left: 35%;
}
span {
    margin: 30px;
}

.main {
    font-size:40px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}
.media img{
    width: 35px;
}
.input {
    align-items: center;
    margin-top: 50px;
    float: right;
    margin-right: 40%;
}
#myInputId {
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
.button {
    width: 150px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

.display h2 {
    font-size: 70px;
}
.display {
    margin-top: 200px;
    text-align: center;
}
.display p {
    font-size: 30px;
}